@import "tailwindcss";

@theme {
  --color-rose-800: #7a284e;
  --color-rose-50: #fff7fb;
  --color-stone-900: #312e2c;
  --color-stone-600: #5f564d;
  --color-stone-150: #e3ddd7;
  --color-stone-100: #f3e5d7;
  --color-brown-800: #854632;

  --font-young: "Young Serif", serif;
  --font-outfit: "Outfit", serif;

  --breakpoint-xs: 375px;
}
